Q1. How do you comment code in Python? What are the different types of comments?

Ans.The first way to comment a code in python is by using # at the beginning of each line of the comment. The next way is by using string literals but not assigning them to any variables. If you do not assign a string literal to a variable, the python interpreter ignores it.This is used to write multi-line comments.

There are three types of comments in python:

1.Single line comments

2.Multiline comments

3.Docstring comments

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans.A python variable is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.
    The assignment operator, denoted by the "=" symbol, is the operator that is used to assign values to the variable in python. The line x=1 takes the known value, 1, and assigns that value to the variable with name "x". After executing this line, this number will be stored into this variable.

Q3. How do you convert one data type to another in Python?

Ans.Data types can be converted either implicitly or explicitly.

Implict conversions are not visible to the user. SQL Server automatically converts the data from one data type to another. 

In explicit type of conversion, user involvement is required. The user converts one data type to another according to his own need. This can be done with the help of int(), float(), str() etc. functions. This data type of conversion is also called typecating because the user casts (change) the data type of the objects.

Q4. How do you write and execute a Python script from the command line?

Ans. The most basic and easy way to run a python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this : pyhton first_script.py hello world! Then you hit the ENTER button form the keyboard, and that's it.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5]

In [24]:
print(my_list[1:])

[2, 3, 4, 5]

In [49]:
print(my_list[1:3:1])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans. Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are relal numbers and "i" is imaginary number called "iota". The value for i = (underroot-1). 
For example, 2+3i is a complex number, where 2 isa real number and 3i is an imaginary number.
Python complex number has 2 parts = real and imaginary. The imaginary part is denoted with "j" suffix.
example: 2+3j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [50]:
age = int(25)

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [51]:
price = 9.99

In [52]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [2]:
name = "shalusuthar"

In [3]:
print(name)

shalusuthar

Q10. Given the string "Hello, World!", extract the substring "World".

In [4]:
a = "Hello, World!"

In [28]:
print(a[6:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [29]:
is_student = True
print(is_student)

True